body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    margin: 0;
}

header {
    max-width: 100%;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div:first-child {
    display: flex;
    align-items: center;
}

nav div:first-child img {
    width: 45px;
    margin-right: 20px;
}

nav div:last-child{
    display: flex;
    align-items: center;
}

nav div:last-child form input{
    background-color: #606060;
    padding: 7px 20px;
    border: none;   
    border-radius: 3px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 10px;
}

nav div:last-child form input:hover {
    cursor: pointer;
    background-color: #454545;

}

nav div:last-child a {
    text-decoration: none;
    color: #00000096;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
}

nav div:last-child a:last-child {
    background-color: #00000096;
    color: #FFF;
}

nav div:last-child a:hover:not(nav div:last-child a:last-child) {
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    width: 25%;
    text-align: center;
    font-size: 2.2em;
}

section > form {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

section > form article#filtros_busqueda {
    margin-bottom: 40px;
}

section > form article#filtros_busqueda input[type=text]{
    padding: 7px;
    border: 2px solid #adadad;
    border-radius: 4px;
}

section > form article#filtros_busqueda input[type=text]:focus {
    outline: none;
}

section > form article#filtros_busqueda input[type=submit] {
    padding: 7px;
    border: 2px solid #606060;
    border-radius: 4px;
    background-color: #606060;
    color: #fff;
}

section > form article#filtros_busqueda input[type=submit]:hover {
    cursor: pointer;
    background-color: #3e3e3e;
}


section > form article#listado {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section > form article#listado div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #adadad;
}

section > form article#listado div:hover:not(section > form article#listado div:first-child) {
    background-color: #ececec;
}

section > form article#listado div svg {
    width: 15px;
}

section > form article#listado div p {
    margin: 0;
}

section > form article#paginador {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

section > form article#paginador input {
    background-color: #dbdbdb;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

section > form article#paginador input:hover:not(section > form article#paginador input[type=text]) {
    cursor: pointer;
    background-color: #c9c9c9;
}

section > form article#paginador input[type=text] {
    text-align: center;
    width: 20px;
}

section > form article#paginador input:focus {
    outline: none;
}

section > form input#preferencia_submit {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 8px;
}


footer {
    width: 100%;
    background-color: #ebebeb;
    padding: 20px 0;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p + div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer p + div a {
    text-decoration: none;
    color: #454545;
}

footer img {
    width: 70px;
}