body {
    margin: 0;
    padding: 0;
    background-color: rgb(106, 130, 117);
    font-family: 'Inter', 'Courier New', Courier, monospace;
}

form {
    width: 40%;
    background-color: #e8e8e8;
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}

form div {
    display: flex;
    gap: 10px;
}

form div a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    background-color: #c6c6c6;
    border-radius: 5px;
    border: 1px solid black;
}

.error {
    color: #ff0000;
    margin: 0;
}

form input {
    padding: 5px 10px;
    width: 80%;
}